:host {
  background-color: #182139;
  display: block;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 10px 20px 0 20px;

  @media screen and (max-width: 768px) {
    height: 126px;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    .left, .right {
      margin: 0 !important;
    }
    @media screen and (max-width: 350px) {
      .left, .right {
        width: auto !important;
      }
      h1 {
        text-align: center;
      }
      img, .separator {
        display: none;
      }
    }
  }

  .left {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 330px;
    .separator {
      vertical-align: middle;
      color: #cccccc
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    button {
      margin: 0 10px;
    }
  }
}

.page-container {
  position: relative;
  height: calc(100% - 100px);
  .globe-container {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 20px;
    right: 520px;
    transition: right 0.2s ease-in-out;

    display: block;

    &.fullwidth {
      right: 20px;
    }


    .globe-wrapper {
      height: 100%;
      overflow: hidden;
      app-globe {
        height: 100%;
        width: 100%;
        display: inline-block;
      }
    }
  }
  .card-container {
    &.removed {
      width: 0;
      right: 0;
      transition: width .2s ease-in-out;
    }
    position: absolute;
    right: 60px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    transition: width .1s ease-in, right .05s ease-out .1s;
    overflow: hidden;
    width: 450px;
    app-project-card {
    }
  }
}
