<header>
  <div class="left">
    <img src="assets/icon.webp" alt="logo" width="90" height="90">
    <div class="separator">|</div>
    <h1>Download Center</h1>
  </div>
  <div class="right">
    <button mat-button>Forum</button>
    <button mat-button>Classic view</button>
  </div>
</header>

<div class="page-container">
  <div class="globe-container">
    <div class="globe-wrapper">
      <app-globe [pins]="pins" [onPinSelected]="onPinSelected"></app-globe>
    </div>
  </div>

  <ng-container *ngIf="selectedProjectSlug">
    <app-project-card [projectSlug]="selectedProjectSlug"></app-project-card>
  </ng-container>
</div>

