<mat-card>
  <ng-container *ngIf="project">
    <img [src]="urlOrigin + '/' + project.thumbnail" alt=""/>
    <div class="card-content">
      <mat-card-title>{{project.name + ((project.name_has_map) ? ' Map' : '')}}</mat-card-title>
      <mat-card-content>
        <p class="description">{{project.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button [routerLink]="['/view']" [queryParams]="{game: project.slug}">View</button>
      </mat-card-actions>
    </div>
  </ng-container>
  <ng-container *ngIf="!project">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>
</mat-card>
